apiVersion: v1
kind: ResourceQuota
metadata:
  name: production-quota
  namespace: inclusive-world-portal
spec:
  hard:
    requests.cpu: "20"
    requests.memory: 40Gi
    limits.cpu: "40"
    limits.memory: 80Gi
    persistentvolumeclaims: "20"
    services.loadbalancers: "2"
