/* =======================================================================
   SHARED DOCUMENT STYLES - Single Source of Truth
   Used by both Quill Editor and PDF Export for WYSIWYG consistency
   ======================================================================= */

/* Font Declaration - Montserrat (Brand Font) */
@font-face {
    font-family: 'Montserrat';
    src: url('{{ montserrat_font_url }}') format('truetype');
    font-weight: 100 900;
}

/* Base Document Styles */
body, .document-content {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    line-height: 1.6;
    color: #404040;
}

/* Headings */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 0.75em 0;
    font-weight: 700;
    line-height: 1.3;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    margin: 0.83em 0;
    font-weight: 600;
    line-height: 1.4;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: 600;
    line-height: 1.4;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 1.33em 0;
    font-weight: 600;
    line-height: 1.5;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875em;
    margin: 1.67em 0;
    font-weight: 600;
    line-height: 1.5;
}

/* Paragraphs */
p {
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0;
    line-height: 1.6;
}

/* Text Formatting */
strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

s, strike, del {
    text-decoration: line-through;
}

/* Links */
a {
    color: #008B9C;
    text-decoration: underline;
}

a:hover {
    color: #006A78;
}

/* Lists */
ul, ol {
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0;
    padding-left: 2em;
}

li {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5em 0;
    line-height: 1.6;
}

/* Blockquotes */
blockquote {
    font-family: 'Montserrat', sans-serif;
    border-left: 4px solid #008B9C;
    margin: 1.5em 0;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #595959;
    font-style: italic;
}

/* Code */
code {
    font-family: 'Courier New', monospace;
    background-color: #F2F2F2;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
}

pre {
    font-family: 'Courier New', monospace;
    background-color: #F2F2F2;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
    margin: 1em 0;
}

pre code {
    background-color: transparent;
    padding: 0;
}

/* Inline styles preservation */
/* User-applied colors and styles via Quill are preserved through inline style attributes */

/* Text alignment */
.ql-align-left {
    text-align: left;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.ql-align-justify {
    text-align: justify;
}

/* Indentation */
.ql-indent-1 {
    padding-left: 3em;
}

.ql-indent-2 {
    padding-left: 6em;
}

.ql-indent-3 {
    padding-left: 9em;
}

.ql-indent-4 {
    padding-left: 12em;
}

.ql-indent-5 {
    padding-left: 15em;
}

.ql-indent-6 {
    padding-left: 18em;
}

.ql-indent-7 {
    padding-left: 21em;
}

.ql-indent-8 {
    padding-left: 24em;
}

/* Font sizes */
.ql-size-small {
    font-size: 0.75em;
}

.ql-size-large {
    font-size: 1.5em;
}

.ql-size-huge {
    font-size: 2.5em;
}

/* Subscript and Superscript */
sub {
    vertical-align: sub;
    font-size: 0.75em;
}

sup {
    vertical-align: super;
    font-size: 0.75em;
}

/* HR / Divider */
hr {
    border: none;
    border-top: 2px solid #E5E7EB;
    margin: 2em 0;
}
