apiVersion: v1
kind: Service
metadata:
  name: django
  namespace: inclusive-world-portal
  labels:
    app: django
    component: web
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: django
