{% extends "allauth/layouts/entrance.html" %}
{% load i18n allauth %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}
{% block auth_title %}{% trans "Forgot Password?" %}{% endblock auth_title %}
{% block auth_subtitle %}{% trans "Enter your email address and we'll send you a link to reset your password." %}{% endblock auth_subtitle %}

{% block content %}
<form method="post" action="{% url 'account_reset_password' %}" class="auth-form">
  {% csrf_token %}
  
  {% for field in form.visible_fields %}
    <div class="form-group">
      {% if field.field.required %}
        <label for="{{ field.id_for_label }}" class="form-label form-label-required">
          {{ field.label }} <span style="color: var(--color-error);">*</span>
        </label>
      {% else %}
        <label for="{{ field.id_for_label }}" class="form-label">
          {{ field.label }}
        </label>
      {% endif %}
      {{ field }}
      {% if field.help_text %}
        <span class="form-help-text">{{ field.help_text }}</span>
      {% endif %}
      {% if field.errors %}
        <span class="form-error">{{ field.errors.0 }}</span>
      {% endif %}
    </div>
  {% endfor %}
  
  <button type="submit" class="btn btn-primary btn-lg btn-block">
    {% trans "Reset My Password" %}
  </button>
  
  <div class="auth-footer">
    <a href="{% url 'account_login' %}" class="auth-link">{% trans "Back to Log In" %}</a>
  </div>
</form>
{% endblock content %}

{% block branding_title %}{% trans "Remember your password?" %}{% endblock branding_title %}
{% block branding_subtitle %}{% trans "Return to the login page to access your account" %}{% endblock branding_subtitle %}
{% block branding_cta_url %}{% url 'account_login' %}{% endblock branding_cta_url %}
{% block branding_cta %}{% trans "Log In" %}{% endblock branding_cta %}
