apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: celerybeat-schedule
  namespace: inclusive-world-portal
  labels:
    app: celerybeat
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: ""  # Specify in environment overlay
